/* Global Rules  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  background: none;
  border: none;
}

body {
  background-color: var(--main-color);
}
.encode-sans expanded-thin {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.encode-sans expanded-extralight {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.encode-sans expanded-light {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.encode-sans expanded-regular {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.encode-sans expanded-medium {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.encode-sans expanded-semibold {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.encode-sans expanded-bold {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.encode-sans expanded-extrabold {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.encode-sans expanded-black {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Responsive start */
.container {
  margin: auto;
}
/* small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* X-Large */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* Responsive end */
/* End global rules  */

/* pet-landing-page start*/
.pet-landing-page {
  position: relative;
  height: 100vh;
}
/* pet-landing-page End*/

/* Start Header  */

.pet-landing-page header {
  height: 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .pet-landing-page header {
    padding: 0 20px;
  }
}

.pet-landing-page header .logo-menu {
  flex: 1;
}
.pet-landing-page header .logo {
  position: absolute;
  display: block;
  max-width: 100%;
  width: 40px;
  height: 45px;
}

@media (max-width: 767px) {
  .pet-landing-page .logo-menu {
    display: block;
    position: relative;
  }
  /* hamburger*/
  .pet-landing-page .logo-menu .hamburger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 40px;
    right: 0;
    cursor: pointer;
  }

  .pet-landing-page .hamburger-btn span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
  }
  .pet-landing-page .hamburger-btn span::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
  }
  .pet-landing-page .hamburger-btn span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
  }
  /*hamburger end*/
  .pet-landing-page header .links {
    flex-direction: column;
    background-color: var(--secondary-Color);
    color: #ffffff;
    position: absolute;
    left: -200%;
    margin-top: 60px;
    width: 90vw;
    height: 100vh;
    opacity: 0;
    z-index: -5;
    transition: all 0.8s linear;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    -ms-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
  }

  .pet-landing-page header .hamburger-btn:hover ~ .links {
    margin-top: 40px;
    z-index: 5;
    opacity: 1;
    left: 0;
  }

  .pet-landing-page header .buttons {
    display: none;
  }
  .pet-landing-page header .buttons button {
    display: none;
  }
}
/* hamburger btn  End */

@media (min-width: 768px) {
  .pet-landing-page header .links {
    display: flex;
    flex: 1;
    margin-left: 40px;
    color: #aebbff;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
  }

  .pet-landing-page header .buttons button {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 50px;
    margin: 0px 5px;
    border: 1px solid white;
    color: var(--text-color);
  }
}

.pet-landing-page header .links li {
  padding: 5px 10px;
}

.pet-landing-page header .links li:hover {
  background-color: #ffffff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.pet-landing-page header .links a {
  display: block;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.pet-landing-page header .links li:hover a {
  font-size: 15px;
  color: var(--main-color);
}
/* End Header  */
/* Start Hero  */
.hero {
  position: relative;
}
.hero .slogan p {
  right: 170px;
  top: 16px;
  background-color: var(--secondary-Color);
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hero .slogan p {
    right: 0;
    width: max-content;
    top: 0;
    background-color: var(--secondary-Color);
    padding: 5px 10px;
    border-radius: 50px;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }
  .hero .slogan h1 {
    margin-bottom: 0;
  }
  .hero .slogan h2 {
    line-height: 1.5;
  }
}
.hero .images .box .cat-txt {
  width: 300px;
  height: 160px;
}
@media screen and (min-width: 769px) {
  .hero .slogan h1 {
    font-size: 50px;
  }
}

.hero .images .box .cat-txt {
  /* height: 300px; */
  padding: 20px;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .hero .images .box {
    flex-direction: column;
    gap: 0;
  }
  .hero .images .box img {
    width: 200px;
    height: 250px;
  }
  .hero .images .box .dog p {
    width: 290px;
  }
}
@media screen and (max-width: 768px) {
  .hero .images .box .dog img,
  .hero .images .box .cat img {
    margin: 10px auto;
  }
}
/*End Hero Section */
/* Start services section  */
.services .cards .card img {
  width: 392px;
  height: 172px;
  top: 10px;
}
.services .cards .card .doctor::before {
  content: "";
} /* End services section  */
/* Start Doctors section  */
.Doctors .Doctor-card .info {
  flex-basis: 50%;
}
.Doctors .Doctor-card .info ul {
  bottom: 0;
  padding-bottom: 20px;
}
.Doctors .Doctor-card .info a,
.Doctors .Doctor-card .image a {
  right: 20px;
  width: 159px;
  height: 48px;
  bottom: 0;
  z-index: 2;
}
.Doctors .Doctor-card .info a i,
.Doctors .Doctor-card .image a i {
  width: 25px;
  height: 25px;
  background-color: var(--main-color);
  color: white;
  border-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.Doctors .Doctor-card .info a:hover i,
.Doctors .Doctor-card .image a:hover i {
  background-color: #ffffff;
  color: var(--main-color);
}
.Doctors .Doctor-card .image {
  flex-basis: 50%;
}
.Doctors .Doctor-card .image img::after {
  content: "";
  position: absolute;
  width: 636px;
  height: 587px;
  left: 0px;
  top: 0px;

  background: rgba(18, 41, 155, 0.15);
}
.Doctors .Doctor-card .image a {
  top: 20px;
  right: 20px;
}
@media screen and (max-width: 768px) {
  .Doctors .Doctor-card,
  .Doctors .Doctor-card .image {
    display: block;
  }
  .Doctors .Doctor-card .info ul {
    position: relative;
    margin: 20px auto;
  }

  .Doctors .Doctor-card .info a,
  .Doctors .Doctor-card .image a {
    position: relative;
    right: 0;
  }
}
.Doctors .over-lay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(48 81 255 / 27%);
}
/* End Doctors section  */

/* Start equipments  */

.equipments-section .cards .info-card,
.equipments-section .cards .m-card .info-card,
.equipments-section .equibments-cards :last-child .m-card .info-card {
  background-color: var(--secondary-Color);
  flex-basis: 50%;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .equipments-section .cards .info-card {
    height: 100px;
  }
}

.equipments-section .cards .image-card {
  flex-basis: 50%;
}
.equipments-section .cards .image-card img {
  max-height: 100%;
}
@media screen and (max-width: 767px) {
  .equipments-section .cards .image-card {
    width: 100%;
    height: 100%;
  }
}
/* End equipments  */
/* Start Charity  */
.charity-section .description p {
  width: 60%;
}
.charity-section .description article {
  border-left: 2px solid;
}
@media screen and (max-width: 768px) {
  .charity-section .description article {
    margin-bottom: 20px;
  }
}
.charity-section .partners-cards {
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.charity-section .card img {
  width: 40px;
}
/* End Charity  */
/* Start reviews  */
.reviews-section .reviews-cards {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media screen and (max-width: 768px) {
  .reviews-section .reviews-cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.reviews-section .review-card .row p {
  color: #dedede;
}
.reviews-section .over-lay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 103%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.26934523809523814) 26%,
    rgba(24, 61, 255, 1) 100%
  );
}
.reviews-section a {
  left: 50%;
  margin-top: -30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.reviews-section a i {
  color: white;
  background-color: var(--main-color);
}
/* End reviews  */
/* Start Form-section */
.form-section .doc-card .card {
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .form-section .doc-card .card {
    margin-bottom: 40px;
  }
}
.form-section .doc-card .card h2 {
  line-height: 1.7;
}

.form-section .form {
  z-index: 2;
  background-color: white;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  margin: -20px;
  flex-basis: 55%;
  max-width: 100%;
  color: var(--secondary-Color);
}
@media screen and (max-width: 768px) {
  .form-section .form {
    margin: auto;
  }
}
.form-section .form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid var(--main-color);
  padding: 20px 10px;
  color: var(--secondary-Color);
}
.form-section .form ::placeholder {
  color: #dedede;
}

.form-section .form .send {
  border: 1px solid var(--main-color);
  width: 40%;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .form-section .form .send {
    width: 100%;
  }
}
.form-section .form .send:hover {
  background-color: var(--main-color);
}

.form-section .form input[type="submit"] {
  font-size: 25px;
  border: none;
  padding: 0;
  margin: 0;
}
.form-section .form .send:hover input[type="submit"] {
  color: white;
}
.form-section .form .send i {
  background-color: var(--main-color);
  color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  height: 100%;
  width: 40px;
  font-size: 20px;
}

.form-section .form a {
  border: 1px solid var(--main-color);
}
/* End Form-section */
/* Start footer-section  */
.footer-section .title h1 {
  line-height: 1.7;
}
.footer-section .title a {
  padding: 8px 12px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.footer-section .menu {
  margin-top: 50px;
  justify-content: center;
}
.footer-section .menu .col {
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer-section .menu .col {
    flex-basis: 50px;
  }
}
.footer-section .menu .col a {
  margin-bottom: 10px;
}

/* End footer-section  */
